/* INCLUSIONS. */
@use 'normalize';
@use 'nav';
@use 'homepage';

$primary-color: #333;
$font-stack: 'Inter', sans-serif;

:root {
  font-size: calc(1rem + 0.5vw);
  font-family: $font-stack;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
    box-sizing: border-box;
}

html {
    background-color: #F9F8F9;
    height: 100%;
    margin: 0;
}

body {
    font-size: 100%;
    font-family: $font-stack;
    color: $primary-color;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}